body {
    margin: 0px;
    font-family: MessinaSans,sans-serif;
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    z-index: 2;
    align-items: center;
    background-color: rgb(253, 253, 253);
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(10, 10, 10);
}

#logo {
    display: flex;
    margin-left: 3%;
}

#logoPic {
    height: 40px;
}

#text-pic {
    height: 45px;
    margin-left: 4%;
    padding-bottom: 7px;
}

.header-buttons {
    display: flex;
    width: 550px;
}

.headerButton {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    margin-right: 8%;
}

#content-area {
    display: flex;
    width: 100%;
    height: 100%;
}

#side-bar {
    margin-top: 60px;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    border-right: 1px solid rgb(10, 10, 10);
}

#main-area {
    position: relative;
    left: 30vw;
    margin-top: 60px;
    display: flex;
    width: 70vw;
}

#search-label {
    margin: 30px auto 10px 5%;
    font-size: 1.2em;
    font-weight: 600;
}

#searchbox {
    padding-left: 20px;
    border: 1px solid #070707;
    border-radius: 12px;
    width: 90%;
    height: 50px;
    margin: 0px auto 15px auto;
    color: #8f8f8f;
    font-size: 1em;
    background-image: url("search.png");
    background-size: 25px;
    background-position: 95% 52%;
    background-repeat: no-repeat;
}

#sidebar-items {
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    width: 65%;
    padding: 15px 5% 15px 5%;
    border: 2px solid rgb(158, 20, 20);
    border-radius: 12px;
    margin-left: 20px;
    margin-top: 5vh;
}

.sidebar-button:hover {
    background-color: rgb(158, 20, 20);
    color: white;
}

#brookings-img-label {
    width: 100%;
}

#brookings {
    width: 100%;
    height: auto;
}

#main-img-label {
    position: absolute;
    top: 30vw;
    left: 12%;
    color: white;
    font-family: "Libre Baskerville","Times New Roman",serif;
    font-style: italic;
    text-align: center;
    font-size: 3vw;
}